/* ==|== Imports ================================================================================
	Imports före skräddarsydd css
   ============================================================================================== */

@import url("normalize.css");



/* ==|== Fonts ==================================================================================
	Typsnitt på sidan.
   ============================================================================================== */
body {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 12px;
}

::selection {
	background:#4c728c;
	color:#fff;
	text-shadow: 0px 1px 0px #333;
}



/* ==|== Body ===================================================================================
	Sidans huvudstruktur.
   ============================================================================================== */

body {
	background: #4c728c url(/img/bg.png) repeat;
	padding: 0;
	margin: 0;
	height: 100%;
}

#wrapper {
	width: 1102px;
	margin: 0 auto 20px;
	padding: 0 40px;
	background: url(/img/wrapperBg.png) left top no-repeat;
}

#container {
	clear: both;
	width: 1100px;
	height: 100%;
	
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0px 1px 15px #444;
}



/* ==|== Header =================================================================================
	Siduvudet med logotyp och liknande.
   ============================================================================================== */

#header {
	height: 100px;
	width: 1100px;
}

#logo {
	height: 100px;
	width: 250px;
}



/* ==|== Nav ====================================================================================
	Navigeringsmenyn med alla länkar till sidor och subsidor.
   ============================================================================================== */

#nav {
	background: none;
}

#nav,
#nav a,
#nav a:hover,
#nav a:visited {
	font-family: 'Jura', sans-serif !important;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	text-shadow: #fff 1px 1px 0;
	text-decoration: none;
}



/* ==|== Main ===================================================================================
	Det som kaplsar in allt på sidan utom #header och #footer.
   ============================================================================================== */

#main-top {
	height: 35px;
	width: 100%;
	background: #d0d0d0 url(/img/mainTopBg.png) repeat-x;
	border: 1px solid #f9f9f9;
	border-bottom: 1px solid #888;
	border-radius: 3px 3px 0 0;
}

#main-top-text {
	font-size: 15px;
	color: #444;
	font-weight: bold;
	text-align: center;
	text-shadow: #eee 1px 1px;
	padding-top: 8px;
}

#main {
	width: 100%;
	background: #f3f3f3 url(/img/contentBg.png) repeat-x;
	min-height: 300px;

	border: 1px solid #fff;
	border-bottom: 1px solid #bbb;
}

#main-bottom {
	clear: both;
	height: 15px;
	width: 100%;
	background: #ccc;
	
	border: 1px solid #eee;
	border-top: 1px solid #fcfcfc;
	
	border-radius: 0 0 3px 3px;
}



/* ==|== Sidebar ================================================================================
	Den vänstra sidomenyn.
   ============================================================================================== */

#sidebar {
	width: 230px;
	height: 100%;
	margin-right: 5px;
	float: left;
	background: #e0e0e0;
	border-right: 1px solid #fff;
	box-shadow: 1px 0px 0px #aaa;
}



/* ==|== Content ================================================================================
	Själva huvudinnehållet på hemsidan. Ramen som visar all info med 
   ============================================================================================== */
   
#content {
	width: 830px;
	margin-left: 250px;
	padding: 20px 0 0 0;
	text-shadow: #bbb 0px 0px 2px;
	font-size: 14px;	
	text-align: justify;
}



/* ==|== Footer =================================================================================
	Allt som finns i sidfoten på hemsidan.
   ============================================================================================== */

#footer {
	height: 100px;
	padding: 10px 50px;
	background: url(/img/flaerpMadeInLund.png) right top no-repeat;
}

div#footer-container {
	position: fixed;
	bottom: 0;
	width:100%;
	height:60px;
	background-color: silver;
}

#footer {
	text-align: justify;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 11px;
	color: #f0f0f0;
	text-shadow: #333 1px 1px 0;
	text-decoration: none;
}

#footer a {
	font-family: 'Jura', sans-serif;
	text-shadow: #000 0px 0px 0px;
	color: #55FFA0;
	font-weight: bold;
	text-decoration: none;
}

#footer a:visited {
	color: #A9FFDA;
}

#footer a:hover {
	text-decoration: underline;
}



/* ==|== Pictures ===============================================================================
	Allt som finns i sidfoten på hemsidan.
   ============================================================================================== */

img {
	max-width: 100%;
}



/* ==|== Applikation ============================================================================
	Tabellerna och widgets som visas på applikation.php.
   ============================================================================================== */

.app_menu {
	width: 824px;
	height: 100px;
}

.app_table {
	width: 100%;
	border: 1px solid black;
}

/* Fixar höjden på .app_menu. */
.ui-tabs {
	overflow: hidden;
}



/* ==|== About ==================================================================================
	Sidan about.php.
   ============================================================================================== */

.about-frame {
	padding: 0 0 20px 0;
	margin-bottom: 20px;
}

.about-frame img {
	float: right;
	margin: 10px;
}




/* ==|== Unsorted ===============================================================================
	Osorterade styles.
   ============================================================================================== */


div.forms {
	margin: 5%;
}

.js-form {
	margin-left: 25%;
	margin-right: 25%;
	padding: 1px;
}

.standard-table {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border: 1px solid #333;
  font-size: 0.9em;
  width: 100%;
}

.standard-table caption {
  caption-side: bottom;
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
  padding: 0.5em 0;
}

.standard-table th, .standard-table td {
  border: 1px dotted #666;
  padding: 0.2em;
  text-align: left;
}

.standard-table th[scope=col] {
  text-transform: uppercase;
  font-size: 0.7em;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
}

.standard-table th+th[scope=col] {
  background-color: silver;
  border-right: 1px dotted #666;
}

.standard-table th[scope=row] {
  border-right: 2px solid #333;
}

.standard-table tr.alt th, .standard-table tr.alt td {
  color: silver;
}

.standard-table tr:hover th[scope=row], .standard-table tr:hover td {
  background-color: gray;
  color: white;
}

.selected_student a {
	color: white;
}

blockquote {
	position: relative;
	width: 75%;
	left: 10%;
	border: 3px solid silver;
	margin: 15px;
	padding: 5px;
}

div#toc {
	border: 1px solid silver;
	position: fixed;
	top: 39%;
	left: 5%;
	width: 19.9%;
}

div#toc h3 {
	text-align: center;
	margin: .5em;
}

.image-container {
	border: 1px solid silver;
	padding: 2em;
	margin: 2em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.red-text {
	color:red;
}

.green-text {
	color:green;
}

#message-container {
	height:30px;
}

#tabs {
	height:150px;
}

/* ==|== Fonts ==================================================================================
	CSS till webfonts
   ============================================================================================== */

h1, h2, h3, h4, h5, h6 {
   font-family: 'Jura', sans-serif !important;
   font-weight: bold;
   color: #333;
   text-shadow: #eee 1px 1px;
}



/* ==|== Post imports ===========================================================================
	CSS som inte bör overridas
   ============================================================================================== */
@import url("../css/nonsemantic.css");
